table, th, td{
    border: 1px solid black;
    font-family: "“arial, sans-serif";
    text-align: center;
    border-collapse: collapse;
}
#modal{
    display: none;
    width: 400px;
    height: 150px;
    background-color: skyblue;
    border: 2px outset;
    border-radius: 5px;
    position: fixed;
    z-index: 1;
}
#content{
    padding: 30px;
    font-size: 11px;
}